//! font-family: 'IBM Plex Sans Thai Looped', sans-serif;
//! font-family: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

body,
input,
a,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
input,
button {
  border: none;
}
